<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <header>
        <h1>Welcome to our Event Booking App</h1>
        <div sec:authorize="isAuthenticated()" class="logout-container" style="text-align: right;">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </header>
</header>
<main>
    <script>
        function setEventName(eventName) {
            document.getElementById('hiddenEventName').value = eventName.getAttribute('data-event-name');
            document.getElementById('hiddenEventId').value = eventName.getAttribute('id');

        }
    </script>
    <h2>Search for events:</h2>
    <form method="GET" th:action="@{/events}">
        <h3>Search Events</h3>
        <label for="searchText">By Event Name:</label>
        <input type="text" name="searchText" id="searchText" placeholder="Search an event" th:value="${param.searchText}">
        <br/>
        <label for="minRating">By Minimum Event Rating: </label>
        <input type="number" name="minRating" id="minRating" min="0" max="10" placeholder="Min Rating"
               th:value="${param.minRating}">
        <br/>
        <label for="locationId">Filter by Location:</label>
        <select id="locationId" name="locationId">
            <option value="">All Locations</option>
            <option th:each="location : ${locations}"
                    th:value="${location.id}"
                    th:text="${location.name}"
                    th:selected="${selectedLocationId != null && selectedLocationId == location.id}">
            </option>
        </select>
        <!--    <label for="category">By Category:</label>-->
        <!--    <select name="category" id="category">-->
        <!--      <option value="Music">Music</option>-->
        <!--      <option value="Movie">Movie</option>-->
        <!--      <option value="Ballet">Ballet</option>-->
        <!--    </select>-->
        <input type="submit" value="Submit">
    </form>

    <h2>Choose an event:</h2>
    <th:block th:each="event : ${events}">
        <label>
            <input type="radio" name="eventName" th:value="${event.name}" required
                   th:data-event-name="${event.name}" th:id="${event.getId()}" onclick="setEventName(this)">
            Name: <span th:text="${event.name}"></span>
        </label>
        <br>
        Description: <span th:text="${event.description}"></span>
        <br>
        Rating: <span th:text="${event.popularityScore}"></span>
        <br>
        <!--      Category: <span th:text="${event.category}"></span><br>-->
        Location: <span th:text="${event.location.name}"></span><br>
        Tickets available: <span th:text="${event.getTickets()}"></span><br>
        <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">
        <a th:href="@{'/events/edit-form/{id}' (id=${event.getId()})}">Edit</a>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:method="DELETE" th:action="@{'/events/delete/{id}' (id=${event.getId()})}">
            <button type="submit">Delete</button>
        </form>
        </th:block>
        <!--      <form th:method="POST" th:action="@{'/events/liked'}">-->
        <!--        <input type="hidden" name="id" th:value="${event.getId()}"/>-->
        <!--        <button type="submit" th:disabled="${likedEvents.contains(event.getId())}">Like</button>      </form>-->


        <br><br>
    </th:block>

    <form th:method="POST" th:action="@{/eventBooking}">
        <h2>Choose number of tickets:</h2>
        <input type="hidden" id="hiddenEventName" name="eventName" required>
        <input type="hidden" id="hiddenEventId" name="eventId" required>

        <label>
            <input type="number" name="numTickets" min="1" max="10" required>
        </label><br/><br/>

        <h2>Your Info</h2>
        <label for="attendeeName">Name:</label>
        <input type="text" id="attendeeName" name="attendeeName" ><br>

        <label for="attendeeAddress">Address:</label>
        <input type="text" id="attendeeAddress" name="attendeeAddress" required><br><br/>
<!--        <label for="username">Username:</label>-->
<!--        <input type="text" id="username" name="username" required><br><br/>-->

<!--        <label for="username">Username:</label>-->
        <input type="hidden" id="username" name="username" th:value="${username}"><br><br/>

        <input type="submit" value="Submit">
    </form>

    <div>
        <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')">
        <a href="/events/add-form">Add new event</a>
        </th:block>
    </div>

</main>
</body>
</html>
